.form {
  padding: 25px;
  width: 50%;
  border-radius: 20px;
  border: 1px solid #fff;
}

.fetch {
  margin-left: 10px;
  background-color: #dbdbdb;
  color: #242424;
}

.fetch:hover {
  border: 1px solid #adadad;
}

.control:last-of-type {
  margin-bottom: 25px;
}

.control input,
.control textarea {
  display: block;
  width: 97%;
  padding: 0.5rem 0.5rem;
  font: inherit;
  margin-bottom: 15px;
  border-radius: 12px;
  border: 1px solid #ccc;
  resize: none;
}

.control input:focus,
.control textarea:focus {
  outline: none;
  border-color: #ccc;
}
