.movies-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 480px) {
  .movies-list {
    grid-template-rows: auto;
  }
}
