.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #272727;
  border: 1px solid #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.release-date {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

.release-date:hover {
  background-color: #ffffff29;
}

.movie h2 {
  font-size: 1.5rem;
  color: #f7e702;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.movie p {
  margin-top: 2rem;
  text-align: justify;
}
